
@font-face {
    font-family: anton;
    src: url(../Anton-Regular.ttf);
}
@font-face {
    font-family: quicksand;
    src: url(../Quicksand-VariableFont_wght.ttf);
}
.main{
    background-image: url(../img/bokeh-blur-background-snow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position:center;
}
.main h2{
    /* margin-top: 200px; */
    font-family: anton;
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
}
.text{
    top: 100px;
}
.text-two{
    font-family: quicksand;
    color: white;
    letter-spacing: 6px;
    font-size: 1px;
    margin-top: 20px;
}
.progress{
    width: 500px;
    left: 400px;
}
.main-btn{
    border-radius: 0px !important;
    background-color: rgb(91, 91, 234);
}
.main i{
    color: white;
    font-size: 30px;
    margin: 20px;
    border: 2px white solid;
    border-radius: 100px;
    padding: 15px;
}
